<div id="messageBox">
  <div id = "message"></div>
  <div class="clear">
    <div class="notifyForm">
      <h3>Notifier</h3>
      <% form_remote_for :news_letter_subscriber, :url => news_letter_subscribers_path, :loading => "$('progress_indicator').show();" , :success => "$('progress_indicator').hide();" do -%>
        <%= text_field_tag :email, 'Enter your email here', :class => "subscriberEmail", :onfocus => "if(this.value == 'Enter your email here'){ this.value = '' }", :onblur => "if(this.value == ''){ this.value = 'Enter your email here' }" -%>
        <%= submit_tag "", :class => "notifyMeButton" -%><%= image_tag('launching_soon/spinner.gif', :style => "margin-left:10px; display:none", :id => 'progress_indicator') -%>
      <% end %>
      <span>* We never spam</span>
    </div>  
    <div class="aboutBlk">
      <h3>About Us</h3>
      <p>
        Launching soon is a simple rails plugin that helps rails projects to
        manage  a dedicated launching soon page before the actual launch date.
        The plugin also collects email from potential customers. This is
        developed by <a href="http://vinsol.com/index.php">Vinsol</a>, India as part of their small
        contribution to the awesome rails community.
      </p>
      <div><a href="http://twitter.com/the_vinsol">Follow us on twitter</a></div>
    </div>  
  </div>
  <div class="lauchTime">
    <p>
      <label>Launching In:</label>
      <span id="cdcontainer"></span>
    </p>
    <script type="text/javascript">
      //cdLocalTime("ID_of_DIV_container", "server_mode", LocaltimeoffsetMinutes, "target_date", "opt_debug_mode")
      //Note: "launchdate" should be an arbitrary but unique variable for each instance of a countdown on your page:
      var launchdate=new cdLocalTime("cdcontainer", "", 0, "<%= @launching_date -%>")
      launchdate.displaycountdown("days", formatresults2)
    </script>
  </div>
  <p class="note">* Edit the files in “app > views > launching_soon” folder to make your changes.</p>
</div>